{% extends "core/accounts_base.html" %}

{% load static %}

{% block page_title %}
<title>Preview Certificate</title>
{% endblock page_title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="error_page">
    <h1 class="quiz_heading">Quiz Pending</h1>

    <div class="row">
        <div class="col-md-12">
            <h5>
            This Event require quiz. Kindly add a quiz.
                </h5>
        </div>
    </div>

</div>
{% endblock content %}


{% block js_script %}
{% endblock js_script %}
